{% extends "base.html" %}


{% block content %}
    <main class="main main--about">
        <p>
            Hi, my name is Risto.
        </p>
        <p>
            In 2020 I graduated from LAB University of Applied Sciences with a degree in International Business.
            Now in 2024 I am back to finish my degree in Software Engineering and aiming to graduate in the Summer of 2025.
        </p>
        <p>
            In the past few years I have been studying many different programming languages and building some personal projects (which can be found in my GitHub profile).
            Some of my favourite languages include Go, Rust, Java and Python. I am more familiar with back-end technologies, but can also do some front-end work with React and Angular.
            I am familiar with R as a language for data science and analytics too.
        </p>
        <p>
            In my spare time I like to play guitar, bike, run and play video games. Recently I also built a bass guitar for myself and have been learning how to play that.
        </p>
        <div class="profile-picture">
            <img src="static/img/1632735873866.jpeg" alt="Profile picture of the writer.">
        </div>
    </main>
{% endblock %}
    